<%-include('header') -%>
  <div class="box" id='heading'>
    <h1><%=listTitle %></h1>
  </div>
  <div class="box" id="">
    <%  for(var i=0;i<nitems.length; i++){ %>
    <div class="item">
      <input type="checkbox">
      <p><%=nitems[i]%></p>

    </div>
    <%}%>
    <form class='item' action="/" method="post">
      <input type="text" name="ip" placeholder="New item" autocomplete="off">
      <button type="submit" name="list" value=<%=listTitle%>>+</button>
    </form>

  </div>


<%-include('footer') -%>
